<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sandwich</title>
    <th:block th:replace="~{fragment/fragments :: base_css }"></th:block>
</head>
<body>
    <header>
        <th:block th:replace="~{fragment/header :: header }"><th:block>
    </header>


    <h1>Homepage</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam hic ipsa iste praesentium tenetur? Accusantium aperiam aut beatae commodi, dolore dolorem dolores eaque eos, incidunt ipsam itaque, molestias neque omnis repudiandae rerum saepe sunt vel velit veniam voluptate! Blanditiis, maiores.</p>

    <footer>
        <th:block th:replace="~{fragment/footer :: footer}"></th:block>
    </footer>

    <th:block th:replace="~{fragment/fragments :: base_js }"></th:block>
</body>
</html>

