<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <h1>Sandwich menu</h1>

  <table>
    <thead>
        <tr>
          <td>id</td>
          <td>name</td>
          <td>price</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="item : ${list}" th:object="${item}">
          <td th:text="*{id}">1</td>
          <td th:text="*{name}">basique</td>
          <td th:text="*{price}">5.50</td>
        </tr>
    </tbody>
  </table>

</body>
</html>